.container{
    margin-left: 20px;
}
.Search{
    border-style: solid;
    border-color: aqua;
    color: aqua;
    border-radius: 25px;
    width: 140px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size:small;
}
.Plus{
    border-style: solid;
    border-radius: 25px;
    color: white;
    background-color: turquoise;
    border-color: turquoise;
    font-weight: 400; 
    width: 30px;
    height: 30px;
    font-size: large;
}
.Account{
    border-style: solid;
    background-color:cornflowerblue;
    color: white;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;
    height: 30px;
    width: 200px;
    border-color: black;
    font-size: medium;
    text-align: center;
}